.home {
  max-height: 100vh;
  margin-top: 165px;
  .hero {
    margin-top: -44px;
    @include backgroundPurple("../images/heroHome.jpg");
    min-height: 300px;
    padding: 30px;
    .content {
      display: flex;
      justify-content: space-between;
      > * {
        padding: 20px 10px;
      }
    }
  }
}
