//colors and alphas

$blackColor: rgb(34, 56, 67);
$blackAlpha: rgba(34, 56, 67, 0.3);

$whiteColor: rgb(239, 241, 243);
$white70Alpha: rgba(239, 241, 243, 0.7);
$white30Alpha: rgba(239, 241, 243, 0.3);

$offWhiteColor: rgb(219, 211, 216);
$offWhiteAlpha: rgba(219, 211, 216, 0.3);

$orangeLtColor: rgb(216, 180, 160);
$orangeLtAlpha: rgba(216, 180, 160, 0.3);

$orangeBrColor: rgb(215, 122, 97);
$orangeBrAlpha: rgba(215, 122, 97, 0.3);

$siteWidth: 75%;

//font styles
$paragraphFont: segoeui;
$activeFont: seguibl;
$headerFont: COOPBL;

//font sizes
$tinyFontsz: 14px;
$paraFontsz: 16px;
$navFontsz: 20px;

//header sizes
$bigHeaderTitlesz: 115px;
$bigHeadersz: 80px;
$smallHeadersz: 50px;
$subHeadersz: 30px;
$tinySubHeadersz: 18px;

//subheaders
$largeFontsz: 40px;
