nav {
  width: 100%;
  display: flex;
  z-index: 99;
  .navWrapper {
    margin: 40px 50px;
    width: calc(100% - 100px);
    position: fixed;
    display: flex;
    justify-content: space-between;
    .logo {
      display: flex;
      height: 55px;
      width: 167px;
      text-align: center;
      align-items: center;
      align-content: center;
      text-decoration: none;
      // background-color: $BlueColor;
      &-header {
        margin-top: 10px;
        // height: 55px;
        z-index: 80;
        // text-decoration: none;
      }
      .dots {
        display: flex;
        // align-items: center;
        position: fixed;
        .blueDot {
          height: 32px;
          width: 32px;
          border-radius: 16px;
          background-color: $BlueColor;
        }
        .yellowDot {
          margin-top: 15px;
          margin-left: -10px;
          height: 30px;
          width: 30px;
          border-radius: 15px;
          background-color: $LemonColor;
        }
        .greenDot {
          margin-left: -8px;
          height: 54px;
          width: 54px;
          border-radius: 27px;
          background-color: $MintColor;
        }
        .redDot {
          margin-top: 14px;
          margin-left: 5px;
          height: 24px;
          width: 24px;
          border-radius: 12px;
          background-color: $PeachColor;
        }
      }
    }
    .btnWrapper {
      max-width: 50%;
      display: flex;
      align-items: center;
      .navPages {
        a {
          margin-right: 40px;
          text-decoration: none;
        }
      }
      .loginLink {
        text-decoration: none;
      }
    }
    .collapsed {
      display: none;
    }
    //   height: 90px;
    //   width: 90px;

    // top: 50px;
    // right: 50px;
    // width: 50px;
    // height: 50px;

    // .fas {
    //   color: red;
    // }
  }
}
@media screen and (max-width: 793px) {
  nav {
    .navWrapper {
      .btnWrapper {
        display: none;
      }
      .collapsed {
        display: initial;
      }
    }
  }
  //
}
