//colors
$StrawberryColor: rgb(242, 92, 84);
$StrawberryAlpha: rgba(242, 92, 84, 0.7);

$LemonColor: rgb(255, 217, 114);

$WatermelonColor: rgb(239, 167, 167);

$PeachColor: rgb(252, 188, 184);

$MintColor: rgb(167, 232, 189);

$BlueColor: rgb(199, 234, 228);

$BlackColor: rgb(0, 0, 0);

//fonts -- header
$HeaderBld: "Caveat_Bld";
$HeaderRg: "Caveat";
//fonts -- paragraphs
$ParaLt: "Gill_Lt";
$ParaRg: "Gill_Rg";
$ParaIt: "Gill_It";
