@font-face {
  font-family: Caveat_Bld;
  src: url("../css/fonts/Caveat-Bold.ttf");
}
@font-face {
  font-family: Caveat;
  src: url("../css/fonts/Caveat-Regular.ttf");
}
@font-face {
  font-family: Gill_Lt;
  src: url("../css/fonts/GillSans-Light.ttf");
}
@font-face {
  font-family: Gill;
  src: url("../css/fonts/GillSans.ttf");
}
@font-face {
  font-family: Gill_It;
  src: url("../css/fonts/GillSans-Italic.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: borderbox;
}
html,
body {
  height: 100%;
  // overflow: scroll;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
.app {
  height: 100%;
}
.txt {
  &_Header {
    &Bld {
      font-family: $HeaderBld;
      text-transform: capitalize;
    }
    &Rg {
      font-family: $HeaderRg;
      text-transform: capitalize;
    }
  }
  &_Para {
    &Lt {
      font-family: $ParaLt;
    }
    &Rg {
      font-family: $ParaRg;
    }
    &It {
      font-family: $ParaIt;
    }
  }
  &-size {
    &Hdr {
      font-size: 25px;
    }
    &Parg {
      &XL {
        font-size: 15px;
        text-transform: capitalize;
      }
      &Lg {
        font-size: 13px;
      }
      &Md {
        font-size: 10px;
      }
    }
  }
  &-color {
    &Blk {
      color: $BlackColor;
    }
  }
}

.btn {
  &_Med {
    height: 52px;
    width: 158px;
    border-radius: 26px;

    //center text
    display: flex;
    * {
      margin: auto;
    }
  }
  &-ylw {
    background-color: $LemonColor;
  }
}
