@font-face {
  font-family: BebasNeue;
  src: url("../css/fonts/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: Sitka;
  src: url("../css/fonts/Mermaid1001.ttf");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: borderbox;
          box-sizing: borderbox;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

body {
  min-height: 100vh;
  background-color: #eeeeee;
}

.margin {
  width: 80%;
  margin: 0 auto;
}

.txt_header {
  font-family: Sitka;
}
.txt_paragraph {
  font-family: BebasNeue;
  letter-spacing: 2px;
}
.txt-colorWht {
  color: #eeeeee;
}
.txt-colorGry {
  color: #7f7b82;
}
.txt-colorBlk {
  color: #000500;
}
.txt-colorPrpl {
  color: #5f0f40;
}
.txt-colorOrg {
  color: #ea9232;
}
.txt-sizeXL {
  font-size: 80px;
}
.txt-sizeL {
  font-size: 60px;
}
.txt-sizeM {
  font-size: 40px;
}
.txt-sizeNv {
  font-size: 25px;
}
.txt-sizeXS {
  font-size: 18px;
}
.txt-sizeTiny {
  font-size: 14px;
}

.loginBox {
  /* display: none; */
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: rgba(95, 15, 64, 0.85);
  /* animation: fadein 3s;
    animation-timing-function: ease-in-out; */
  padding-top: 30px;
}
.loginBox .inactive {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(95, 15, 64, 0.85);
}
.loginBox .callout {
  position: relative;
  z-index: 99;
  width: 600px;
  height: 400px;
  background-color: #eeeeee;
}
.loginBox .callout .callOutHeader {
  height: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.loginBox .callout .callOutHeader > * {
  height: 100%;
}
.loginBox .callout .decoreBar {
  background-color: #000500;
  width: 100%;
}
.loginBox .callout .decoreBar-heightSm {
  height: 10px;
  margin: 10px 0;
}
.loginBox .callout .decoreBar-heightLg {
  height: 40px;
}
.loginBox .callout .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}
.loginBox .callout .bottom .form {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.loginBox .callout .bottom .form .login {
  width: 50%;
  height: 75%;
}
.loginBox .callout .bottom .form .login .greeting {
  text-align: center;
}
.loginBox .callout .bottom .form .signUp {
  border-left: #000500 1px solid;
  width: 50%;
}
.loginBox .callout .bottom .form .signUp .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.loginBox .callout .bottom .form .signUp .name > * {
  width: 45%;
}
.loginBox .callout .bottom .form form {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.loginBox .callout .bottom .form form input {
  width: 96%;
  border: #000500 1px solid;
  background-color: #eeeeee;
  color: #000500;
  font-family: Sitka;
  letter-spacing: 2px;
  font-size: 18px;
  padding: 5px;
  text-transform: capitalize;
  margin-bottom: 4px;
}
.loginBox .callout .bottom .form form .button {
  width: 120px;
  background-color: #000500;
  color: #eeeeee;
  font-family: SitkaB;
}
.loginBox .callout .bottom .oops {
  height: 100%;
  text-align: center;
  padding-top: 40px;
}
.loginBox .callout .bottom .oops h6 {
  margin-bottom: 10px;
}
.loginBox .callout .bottom .oops .forgotten {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #eeeeee;
}
nav .navBar {
  background-color: #000500;
}
nav .navBar-LG {
  height: 60px;
}
nav .navBar-MD {
  height: 16px;
}
nav .navBar-SM {
  height: 8px;
}
nav .navIdentifier {
  margin-top: -63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .navIdentifier .logo {
  width: 250px;
  text-align: right;
  text-decoration: none;
}
nav .navIdentifier > * {
  margin-bottom: -15px;
}
nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}
nav .nav a {
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  height: 50px;
  background-color: #000500;
}
footer div {
  padding-top: 7px;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer div .logo {
  margin-top: 10px;
  text-align: left;
  text-decoration: none;
}
footer div p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home {
  max-height: 100vh;
  margin-top: 165px;
}
.home .hero {
  margin-top: -44px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(127, 123, 130, 0.7)), to(rgba(95, 15, 64, 0.8))), url("../images/heroHome.jpg");
  background-image: linear-gradient(to bottom, rgba(127, 123, 130, 0.7), rgba(95, 15, 64, 0.8)), url("../images/heroHome.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 300px;
  padding: 30px;
}
.home .hero .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home .hero .content > * {
  padding: 20px 10px;
}

.about {
  max-height: 100vh;
  margin-top: 165px;
  margin-bottom: 50px;
}
.about .hero {
  margin-top: -44px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(127, 123, 130, 0.7)), to(rgba(95, 15, 64, 0.8))), url("../images/heroAbout.jpg");
  background-image: linear-gradient(to bottom, rgba(127, 123, 130, 0.7), rgba(95, 15, 64, 0.8)), url("../images/heroAbout.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 300px;
  padding: 30px;
  margin-bottom: 50px;
}
.about .hero .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about .hero .content > * {
  padding: 20px 10px;
}
.about .hero .content p {
  width: 55%;
}
.about .hero .content .collage {
  width: 288px;
}
.about .hero .content .collage .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.about .hero .content .collage .top .left {
  width: 138px;
  height: 165px;
  margin-right: 5px;
}
.about .hero .content .collage .top .left1 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(127, 123, 130, 0.3)), to(rgba(127, 123, 130, 0.3))), url("../images/collage1.1.jpg");
  background-image: linear-gradient(to right, rgba(127, 123, 130, 0.3), rgba(127, 123, 130, 0.3)), url("../images/collage1.1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about .hero .content .collage .top .left2 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(127, 123, 130, 0.3)), to(rgba(127, 123, 130, 0.3))), url("../images/collage2.1.jpg");
  background-image: linear-gradient(to right, rgba(127, 123, 130, 0.3), rgba(127, 123, 130, 0.3)), url("../images/collage2.1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about .hero .content .collage .top .right {
  width: 138px;
  height: 165px;
  margin-left: 5px;
}
.about .hero .content .collage .top .right1 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(127, 123, 130, 0.3)), to(rgba(127, 123, 130, 0.3))), url("../images/collage1.2.jpg");
  background-image: linear-gradient(to right, rgba(127, 123, 130, 0.3), rgba(127, 123, 130, 0.3)), url("../images/collage1.2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about .hero .content .collage .top .right2 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(127, 123, 130, 0.3)), to(rgba(127, 123, 130, 0.3))), url("../images/collage2.2.jpg");
  background-image: linear-gradient(to right, rgba(127, 123, 130, 0.3), rgba(127, 123, 130, 0.3)), url("../images/collage2.2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about .hero .content .collage .bottom {
  width: 288px;
  height: 189px;
  margin-bottom: 10px;
}
.about .hero .content .collage .bottom1 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(127, 123, 130, 0.3)), to(rgba(127, 123, 130, 0.3))), url("../images/collage1.3.jpg");
  background-image: linear-gradient(to right, rgba(127, 123, 130, 0.3), rgba(127, 123, 130, 0.3)), url("../images/collage1.3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about .hero .content .collage .bottom2 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(127, 123, 130, 0.3)), to(rgba(127, 123, 130, 0.3))), url("../images/collage2.3.jpg");
  background-image: linear-gradient(to right, rgba(127, 123, 130, 0.3), rgba(127, 123, 130, 0.3)), url("../images/collage2.3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*# sourceMappingURL=styles.css.map */