@font-face {
  font-family: Caveat_Bld;
  src: url("../css/fonts/Caveat-Bold.ttf"); }

@font-face {
  font-family: Caveat;
  src: url("../css/fonts/Caveat-Regular.ttf"); }

@font-face {
  font-family: Gill_Lt;
  src: url("../css/fonts/GillSans-Light.ttf"); }

@font-face {
  font-family: Gill_Rg;
  src: url("../css/fonts/GillSans.ttf"); }

@font-face {
  font-family: Gill_It;
  src: url("../css/fonts/GillSans-Italic.ttf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: borderbox; }

html,
body {
  padding: 0;
  margin: 0;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

body {
  position: relative; }

.app {
  min-height: 100%; }

.txt_HeaderBld {
  font-family: "Caveat_Bld";
  text-transform: capitalize; }

.txt_HeaderRg {
  font-family: "Caveat";
  text-transform: capitalize; }

.txt_ParaLt {
  font-family: "Gill_Lt"; }

.txt_ParaRg {
  font-family: "Gill_Rg"; }

.txt_ParaIt {
  font-family: "Gill_It"; }

.txt-sizeHdrXL {
  font-size: 30px;
  text-transform: capitalize; }

.txt-sizeHdr {
  font-size: 25px; }

.txt-sizePargXL {
  font-size: 15px;
  text-transform: capitalize; }

.txt-sizePargLg {
  font-size: 13px; }

.txt-sizePargMd {
  font-size: 10px; }

.txt-colorBlk {
  color: black; }

.btn_Med {
  height: 52px;
  width: 158px;
  border-radius: 26px;
  display: flex; }
  .btn_Med * {
    margin: auto; }

.btn_fullWidth {
  height: 52px;
  width: 100%;
  border-radius: 26px;
  display: flex; }
  .btn_fullWidth * {
    margin: auto; }

.btn-ylw {
  background-color: #ffd972;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.16); }

nav {
  width: 100%;
  display: flex;
  z-index: 99; }
  nav .navWrapper {
    margin: 40px 50px;
    width: calc(100% - 100px);
    position: fixed;
    display: flex;
    justify-content: space-between; }
    nav .navWrapper .logo {
      display: flex;
      height: 55px;
      width: 167px;
      text-align: center;
      align-items: center;
      align-content: center;
      text-decoration: none; }
      nav .navWrapper .logo-header {
        margin-top: 10px;
        z-index: 80; }
      nav .navWrapper .logo .dots {
        display: flex;
        position: fixed; }
        nav .navWrapper .logo .dots .blueDot {
          height: 32px;
          width: 32px;
          border-radius: 16px;
          background-color: #c7eae4; }
        nav .navWrapper .logo .dots .yellowDot {
          margin-top: 15px;
          margin-left: -10px;
          height: 30px;
          width: 30px;
          border-radius: 15px;
          background-color: #ffd972; }
        nav .navWrapper .logo .dots .greenDot {
          margin-left: -8px;
          height: 54px;
          width: 54px;
          border-radius: 27px;
          background-color: #a7e8bd; }
        nav .navWrapper .logo .dots .redDot {
          margin-top: 14px;
          margin-left: 5px;
          height: 24px;
          width: 24px;
          border-radius: 12px;
          background-color: #fcbcb8; }
    nav .navWrapper .btnWrapper {
      max-width: 50%;
      display: flex;
      align-items: center; }
      nav .navWrapper .btnWrapper .navPages a {
        margin-right: 40px;
        text-decoration: none; }
      nav .navWrapper .btnWrapper .loginLink {
        text-decoration: none; }
    nav .navWrapper .collapsed {
      display: none; }

@media screen and (max-width: 793px) {
  nav .navWrapper .btnWrapper {
    display: none; }
  nav .navWrapper .collapsed {
    display: initial; } }

footer {
  margin-top: -40px;
  width: 100%; }
  footer .footer {
    margin: 0 auto;
    width: calc(100% - 150px);
    display: flex;
    justify-content: space-between; }
    footer .footer-copy {
      width: 35%; }
    footer .footer-nav {
      width: 50%; }
      footer .footer-nav a {
        text-decoration: none;
        margin-right: 15px; }
    footer .footer-socials {
      width: 8%;
      display: flex;
      justify-content: space-between; }
      footer .footer-socials .facebook {
        height: 19px;
        width: 19px;
        background-image: url("../images/facebook.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      footer .footer-socials .insta {
        height: 19px;
        width: 19px;
        background-image: url("../images/instagram.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      footer .footer-socials a {
        text-decoration: none;
        margin-right: 15px; }
  footer .footerPhone {
    display: none; }

@media screen and (max-width: 793px) {
  footer {
    margin-top: -80px; }
    footer .footer {
      margin: 30px 20px;
      width: calc(100% - 40px); }
      footer .footer-copy {
        width: 35%; }
      footer .footer-nav {
        width: 50%; } }

@media screen and (max-width: 500px) {
  footer {
    margin-top: -120px; }
    footer .footer {
      display: none; }
    footer .footerPhone {
      margin: 0 auto;
      width: calc(100% - 40px);
      display: flex;
      flex-wrap: wrap; }
      footer .footerPhone .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px; }
        footer .footerPhone .top .footer-copy {
          width: 70%; }
        footer .footerPhone .top .footer-socials {
          width: 20%;
          display: flex;
          justify-content: space-between; }
          footer .footerPhone .top .footer-socials .facebook {
            height: 19px;
            width: 19px;
            background-image: url("../images/facebook.svg"); }
          footer .footerPhone .top .footer-socials .insta {
            height: 19px;
            width: 19px;
            background-image: url("../images/instagram.svg"); }
      footer .footerPhone .bottom {
        width: 80%;
        display: flex;
        margin: 0 auto;
        margin-bottom: 15px; }
        footer .footerPhone .bottom .footer-nav {
          height: 50px;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around; }
          footer .footerPhone .bottom .footer-nav a {
            text-decoration: none; } }

#home {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, rgba(242, 92, 84, 0.7), rgba(242, 92, 84, 0.7)), url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  #home .circle-holder {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    #home .circle-holder .little-circle {
      position: absolute;
      width: 167px;
      height: 167px;
      background-color: #fcbcb8;
      border-radius: 100px;
      margin-left: 350px;
      margin-top: -250px;
      z-index: 20;
      box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.16);
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      #home .circle-holder .little-circle .sidekick {
        margin: 0 auto;
        text-align: center;
        width: 78px;
        text-align: justify; }
    #home .circle-holder .big-circle {
      width: 357px;
      height: 357px;
      background-color: #ffd972;
      border-radius: 200px;
      z-index: 21;
      box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.16);
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      #home .circle-holder .big-circle .hero-wrapper {
        margin: 0 auto;
        text-align: center;
        width: 164px; }

@media screen and (max-width: 793px) {
  #home .circle-holder .little-circle {
    margin-left: 230px;
    margin-top: -350px; } }

@media screen and (max-width: 500px) {
  #home {
    min-height: 120vh; }
    #home .circle-holder .little-circle {
      margin-left: 200px;
      margin-top: -350px; }
      #home .circle-holder .little-circle .sidekick {
        text-align: center;
        width: 77px; } }

#login {
  width: 100%;
  min-height: 100vh;
  background-color: #ffd972; }
  #login .wrapper {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    #login .wrapper .login {
      height: 290px;
      width: 210px; }
    #login .wrapper .signup {
      height: 450px;
      width: 250px; }
    #login .wrapper form {
      margin: 100px 0 50px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly; }
      #login .wrapper form .formHeader {
        width: 100%;
        margin-bottom: 60px; }
        #login .wrapper form .formHeader h6 {
          margin-bottom: 0px; }
      #login .wrapper form input {
        width: 100%;
        margin-bottom: 50px;
        background-color: #ffd972;
        border: none;
        border-bottom: solid black 3px; }
      #login .wrapper form ::placeholder {
        font-family: Gill;
        color: black;
        opacity: 1; }
      #login .wrapper form button {
        text-decoration: none;
        width: 100%;
        border: none;
        border-radius: 26px; }

@media screen and (max-width: 793px) {
  #login {
    padding: 175px 25px; }
    #login .wrapper {
      width: 100%;
      flex-direction: column; }
      #login .wrapper .signup {
        width: 210px;
        margin-bottom: 15px; }
      #login .wrapper form {
        margin: 0;
        margin-bottom: 115px; } }
